.signInRedirect-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  background-color: var(--bgLighter);
  position: absolute;
  top: 25%;
  left: 25%;
}
#Light .signInRedirect-main {
  background-color: var(--bgLightMain);
}
#Light .signInRedirect-main .signin {
  color: var(--bgMain);
}
#Light .signInRedirect-main .signin:hover {
  color: var(--secondaryAccent);
}
.signInRedirect-main .signin {
  text-decoration: none;
  color: var(--text);
  margin: 1rem 0;
}
.signInRedirect-main .signin:hover {
  color: var(--secondaryAccent);
}
.signInRe-modal {
  z-index: 2;
}
@media (max-width: 1024px) {
  .signInRedirect-main {
    width: 80vw;
    left: 10%;
    text-align: center;
  }
  .signInRedirect-main h1 {
    font-size: 1.4rem;
  }
}
