#Light nav *,
#Light .navbarLinks > .portfolio:hover {
  color: var(--bgMain);
}
#Light .navbarLinks a:hover {
  color: var(--primaryAccent);
}
nav {
  position: relative;
  z-index: 3;
  background-color: transparent;
}
.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  margin: 0 auto;
}
.navbarTitle {
  color: var(--text);
  font-size: 1.2rem;
  text-decoration: none;
}
.navbarLinks {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.navbarLinks a {
  position: relative;
  margin: 0 1.5rem 0 0;
  border-bottom: 2px solid #ffffff00;
  color: var(--text);
  text-decoration: none;
  transition: 0.1s ease-in-out;
}
.navbarLinks a:hover {
  color: var(--primaryAccent);
}
.navbarLinks > .portfolio {
  padding: 0.5rem 1rem;
  border: 1px solid hsl(349, 58%, 70%);
  border-radius: 0.5rem;
  background-color: var(--primaryAccent);
  transition: 0.12s ease-in-out;
}
.navbarLinks > .portfolio:hover {
  color: var(--text);
  background-color: hsla(349, 58%, 60%, 0);
}
.currencySelect {
  align-items: center;
  color: var(--text);
}
#Light .currencyOptions {
  background-color: var(--bgLightSecond);
}
.currencyOptions {
  margin: 0 0 0 0.1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--bgMain);
  color: var(--text);
  font-weight: 500;
  cursor: pointer;
}
.currencySelect > p {
  margin-right: 0.25rem;
}
nav .nav-btn {
  transform: scale(1.5);
  border: none;
  background: transparent;
  color: var(--text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .nav {
    margin: 1rem auto;
  }
  nav .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  #Light nav .navbarLinks {
    background-color: var(--bgLightSecond);
  }
  nav .navbarLinks {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--bgLighter);
    transition: 1s;
    transform: translateY(-100vh);
  }
  nav .responsive_nav {
    transform: none;
  }
  .navbarLinks {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
  }
  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
