nav {
  background-color: var(--bgMain);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}
.navbarTitle {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
}
.navbarLinks {
  display: flex;
  margin: 1rem 0;
}
.navbarLinks a {
  text-decoration: none;
  color: var(--text);
  margin: 0 1.5rem;
  border-bottom: 2px solid #ffffff00;
  transition: 0.1s ease-in-out;
  position: relative;
}
/* .navbarLinks a::after {
  content: '';
  border-bottom: 2px solid var(--primaryAccent);
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1px;
} */
/* .navbarLinks a::after:hover {
  content: '';
  background: black;
  border-bottom: 2px solid var(--primaryAccent);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
} */
.navbarLinks a:hover {
  color: var(--primaryAccent);
  /* border-bottom: 2px solid var(--primaryAccent); */
  width: 100%;
}
.navbarLinks > .portfolio {
  background-color: var(--primaryAccent);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(349, 58%, 70%);
  transition: 0.12s ease-in-out;
}
.navbarLinks > .portfolio:hover {
  color: var(--text);
  background-color: hsla(349, 58%, 60%, 0);
}
.currencySelect {
  align-items: center;
  color: var(--text);
}
.currencyOptions {
  margin: 0 0 0 0.1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--bgMain);
  color: var(--text);
  font-weight: 500;
  cursor: pointer;
}
