.addTxn {
  width: 60%;
  background-color: var(--bgMain);
  padding: 1rem 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin: 4rem auto;
}
#Light .addTxn {
  background-color: var(--bgLightMain);
}
#Light .exitBtn:hover {
  background-color: var(--bgLightSecond);
  color: var(--bgMain);
}
.addTxnContainer {
  justify-content: space-between;
}
.exitBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  background-color: var(--secondaryAccent);
  color: var(--text);
  cursor: pointer;
  transition: 0.15s ease;
}
.exitBtn:hover {
  background-color: var(--bgMain);
}
