.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.35);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  z-index: 4;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}
.modal.exit {
  opacity: 0;
}
