.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.auth-input {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid var(--bgMain);
  padding: 1.2rem 0.8rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: var(--bgLighter);
  color: var(--text);
}
#Light .auth-input {
  background-color: var(--bgLightSecond);
  border: 2px solid var(--bgLightMain);
  color: var(--bgMain);
}
#Light .auth-btn:hover {
  background-color: var(--bgLightSecond);
}
.auth-btn {
  /* width: 60%; */
  /* height: 2rem; */
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;
  background-color: var(--secondaryAccent);
  color: var(--text);
  cursor: pointer;
}
.auth-btn:hover {
  background-color: var(--bgMain);
}
