* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgMain: #1c1b23;
  --bgLighter: hsl(226, 18%, 17%);
  --primaryAccent: #ca3550;
  --secondaryAccent: #442fd7;
  --white: #ffffff;
  --text: #f7f5fa;
}
