* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgMain: #0c131f;
  --bgLighter: #212939;
  --primaryAccent: #ca3550;
  --secondaryAccent: #442fd7;
  --white: #ffffff;
  --text: #f7f5fa;
}
.App {
  background: radial-gradient(
    60vw at 22% 20px,
    rgba(254, 254, 254, 1) -50%,
    rgba(25, 59, 88, 1) 100%
  );
}
