* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* COLOURS */
  --bgMain: rgb(11, 18, 29);
  --bgLighter: rgb(33, 41, 57);
  --primaryAccent: #ca3550;
  --secondaryAccent: #442fd7;
  --white: #ffffff;
  --text: #f7f5fa;
  --bgLightMain: #dedfe3;
  --bgLightSecond: #c4c9d8;
}
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/src/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('/src/fonts/Satoshi-Variable.woff') format('woff'),
    url('/src/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
.App {
  font-family: 'Satoshi-Variable', Arial;
}
#Light {
  background: radial-gradient(
    60vw at 22% 20px,
    rgb(139, 154, 183) -80%,
    rgb(230, 230, 230) 200%
  );
}
#Dark {
  background: radial-gradient(
    60vw at 22% 20px,
    rgb(180, 181, 185) -80%,
    rgb(33, 48, 77) 160%
  );
}
