.portfolio-home {
  min-height: 100vh;
}
.portfolio-main {
  background-color: var(--bgLighter);
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  width: 85%;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.portfolio-main > button {
  margin: 1rem auto;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 1.25rem, 1.4rem);
  border: none;
  background-color: var(--secondaryAccent);
  color: var(--text);
  cursor: pointer;
  transition: 0.15s ease;
}
.portfolio-main > button:hover {
  background-color: var(--bgMain);
}
.portfolio-table {
  width: 96%;
  margin: 2rem auto;
  border-collapse: separate;
  border-spacing: 0 1rem;
}
.portfolio-table-head > tr > th {
  width: 25%;
  padding: 0.5rem 0;
  text-align: left;
  border-bottom: 1px solid var(--bgMain);
  opacity: 0.85;
}
.portfolio-coin-image {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  margin-right: 0.5rem;
}
.portfolio-deleteBtn,
.portfolio-editBtn {
  background-color: var(--primaryAccent);
  color: var(--text);
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.15s ease;
}
.portfolio-editBtn {
  background-color: var(--secondaryAccent);
}
.portfolio-deleteBtn:hover,
.portfolio-editBtn:hover {
  background-color: var(--bgMain);
}
.portfolio-btns {
  display: flex;
  margin-left: 2rem;
}
.portfolio-btns > button {
  margin-right: 0.5rem;
}
.portfolio-holdingInput {
  padding: 0.3rem 0.6rem;
  width: 60%;
  border-radius: 0.5rem;
  border: 1px solid var(--bgMain);
  outline: none;
  font-size: 1rem;
  background-color: var(--bgLighter);
  color: var(--text);
}
