#Light .portfolio-main {
  background-color: var(--bgLightMain);
}
#Light .portfolio-sortBy select,
#Light .portfolio-main > button:hover,
#Light .portfolio-showEditBtn:hover {
  background-color: var(--bgLightSecond);
  color: var(--bgMain);
}
.portfolio-home {
  min-height: 100vh;
}
.portfolio-main {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--bgLighter);
}
.portfolio-header {
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1rem;
}
.portfolio-sortBy {
  align-items: center;
}
.portfolio-sortBy select {
  margin-left: 0.5rem;
  padding: 0.5rem 0 0.5rem 0.4rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--text);
  background-color: var(--bgMain);
}
.portfolio-main > button,
.portfolio-showEditBtn {
  margin: 1rem auto;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 1.25rem, 1.4rem);
  color: var(--text);
  background-color: var(--secondaryAccent);
  cursor: pointer;
  transition: 0.15s ease;
}
.portfolio-showEditBtn {
  margin: 0;
  padding: 0 0.6rem;
  font-size: clamp(0.8rem, 0.9rem, 1.1rem);
}
.portfolio-main > button:hover,
.portfolio-showEditBtn:hover {
  background-color: var(--bgMain);
}
.portfolio-table {
  width: 96%;
  margin: 0.5rem auto;
  border-collapse: separate;
  border-spacing: 0 1rem;
}
.portfolio-table-head > tr > th {
  width: 25%;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--bgMain);
  text-align: left;
  opacity: 0.85;
}
.portfolio-deleteBtn,
.portfolio-editBtn {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primaryAccent);
  color: var(--text);
  cursor: pointer;
  transition: 0.15s ease;
}
.portfolio-editBtn {
  background-color: var(--secondaryAccent);
}
.portfolio-deleteBtn:hover,
.portfolio-editBtn:hover {
  background-color: var(--bgMain);
}
.portfolio-btns {
  display: flex;
  margin-left: 2rem;
  opacity: 1;
  transition: opacity 0.5s;
}
.portfolio-btns > button {
  margin-right: 0.5rem;
}
.hide {
  opacity: 0;
}
.portfolio-holdingInput {
  width: 60%;
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--bgMain);
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--bgLighter);
}
.portfolio-coin {
  display: flex;
  align-items: center;
}
.portfolio-coinImg {
  width: 1.6rem;
  margin-right: 0.4rem;
}
