#Light .coinPage {
  background-color: var(--bgLightMain);
}
#Light .marketData,
#Light .links {
  background-color: var(--bgLightSecond);
}
#Light .links > a {
  color: var(--bgMain);
}
.coinPage {
  margin: 0 2rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  background-color: var(--bgLighter);
}
.backButton {
  margin-bottom: 1rem;
  padding: 0.25rem 0.8rem;
  border: 1px solid var(--bgMain);
  border-radius: 0.2rem;
  color: var(--text);
  background-color: var(--secondaryAccent);
  transition: 0.1s ease-in-out;
}
.backButton:hover {
  background-color: var(--bgMain);
  cursor: pointer;
}
.coinPage > .title {
  margin: 1rem 0;
}
.title > .coinName {
  width: auto;
  font-size: 1.8rem;
  font-weight: 600;
}
.coinImg {
  width: 2rem;
  height: auto;
  object-fit: contain;
}
.coinPageHeader {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.coinPage > .link-desc {
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
.desc {
  width: 60%;
  height: 12rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid var(--bgMain);
  opacity: 0.85;
  overflow-y: scroll;
}
.links {
  margin: 0 2rem;
  padding: 2rem;
  background-color: var(--bgMain);
  border-radius: 0.5rem;
}
.links > h2 {
  margin-bottom: 0.7rem;
}
.links > * {
  margin-bottom: 0.5rem;
}
.links > a {
  color: var(--text);
  transition: 0.1s ease-in-out;
}
.links > a:hover {
  color: var(--secondaryAccent);
}
.marketData {
  width: 36%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bgMain);
}
.marketData > h2 {
  margin-bottom: 1.5rem;
}
.marketData > * {
  margin-bottom: 0.8rem;
}
.dataContainer {
  display: flex;
  justify-content: space-between;
}
.dataContainer > :nth-child(1) {
  width: 50%;
  opacity: 0.65;
}
.dataContainer > :nth-child(2) {
  width: auto;
  margin: 0 1rem;
}
.data-chart {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.coinChart {
  width: 60%;
  height: auto;
}
@media (max-width: 1024px) {
  .coinPage {
    padding: 1rem 2.5rem;
  }
  .data-chart {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .coinChart {
    width: 100%;
  }
  .marketData {
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 768px) {
  .coinPage h2 {
    font-size: 1.25rem;
  }
  .coinPage > .link-desc {
    flex-direction: column;
    align-items: center;
  }
  .desc {
    width: 100%;
    height: 15vh;
  }
  .links {
    width: 100%;
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 480px) {
  .coinPage {
    margin: 0 1rem;
    padding: 1rem 1rem;
  }
}
